# Use the default Mesa:
mesa
# Use my fork of Mesa:
# git+https://github.com/sowasser/mesa.git#egg=mesa
matplotlib==3.0.0
numpy==1.15.2
statsmodels==0.9.0
pandas==0.23.4
scipy==1.1.0
networkx==2.2
click==5.0
abrox